<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDydw_R4Nj8Wwqx54xVtQFdfqHQ9gstZMI</string>
	<key>GCM_SENDER_ID</key>
	<string>176641543662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projek</string>
	<key>PROJECT_ID</key>
	<string>famscreen-4356c</string>
	<key>STORAGE_BUCKET</key>
	<string>famscreen-4356c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176641543662:ios:12b52ea771575bbc7b12ff</string>
</dict>
</plist>